<div class="nav nav-pills myButtonStyle">
    <div ng-class="{ active:$ctrl.iselected({checkTab: 1}) }">
        <button>
            <div ng-click="$ctrl.setpanel({setTab: 1})"> Description </div>
        </button>
    </div>

    <div ng-class="{ active:$ctrl.iselected({checkTab: 2}) }">
        <button>
            <div ng-click="$ctrl.setpanel({setTab: 2})"> Specification </div>
        </button>
    </div>

    <div ng-class="{ active:$ctrl.iselected({checkTab: 3}) }">
        <button>
            <div ng-click="$ctrl.setpanel({setTab: 3})"> Reviews</div>
        </button>
    </div>
</div>